/* Colors */
/* https://www.w3schools.com/css/css3_variables.asp */
:root {
--bone: #f7f5ed;
--lp: #e5dede;
--dp: #520a1f;
--lb: #dbe3e8;
--db: #3d5466;
--lg: #d9e5cc;
--dg: #476130;
--ly: #fce8c2;
--dy: #d6940a;
--wht: #ffffff;
--blk: #232323;
}

body {
  font-family: Inknut Antiqua;
  background: var(--bone);
  color: var(--blk);
}
.link {
  color: var(--dy);
}
.link:hover {
  color: var(--dg);
}
.leaflet-container {
  font-family: Inknut Antiqua;
  background: #ECF3F4;
  color: #666;
}
.leaflet-control-layers, .leaflet-control-layers-expanded, .leaflet-control {
  background: transparent;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 0px;
}
.leaflet-left .leaflet-control {
  margin-left: 0;
  text-shadow:1px 1px 1px var(--bone), -1px -1px 1px var(--bone);
  /* text-shadow : horizontal-shadow vertical-shadow blur color; */
}
#info {
  z-index: 1000;
}

.infoName {
  color: var(--dp);

}
.infoGrape{ 
  color: var(--blk);
  
}
.infoYear {
  color: var(--blk);

}
.infoAcres {
  color: var(--blk);

}